/* Reset */
body, h1, h2, h3, h4, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-light: #fafafa;
    --color-dark: #000000;
    --color-dark-grey: #4B4B4B;
    --color-blue: #007c97;
    --color-bluedark: #00404e;
    --transition: .5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    background-color: var(--color-light);
}

body {
    font-size: 1.6rem;
}

@keyframes mousemove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes colorBackground {
    0% { filter: hue-rotate(0deg); }
    25% { filter: hue-rotate(15deg); }
    50% { filter: hue-rotate(30deg); }
    75% { filter: hue-rotate(15deg); }
    100% { filter: hue-rotate(0deg); }
}    

img, #mouse {
    max-width: 100%;
    display: block;
}

a:hover {
    transform: scale(1.1);
}

#btn_login {
    width: 169px;
    height: 44px;
    margin: 0 5rem 0 0;
    padding: 10px 36px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(217, 217, 217, 0) 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
    border-radius: 16px;
    border: 1px solid white;
    backdrop-filter: blur(15px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero {
    position: relative;
    height: 90vh;
    color: #fff;
}

.hero h2 {
    font-size: 3rem;
    font-weight: 500;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, var(--color-blue) 0%, rgba(0,0,0,0.29175420168067223) 68%);
    z-index: -1;
    animation: colorBackground 20s linear infinite;
}

.container {
    height: 100dvh;
    width: 90%;
    margin: auto;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero .container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10rem;
}

header h3 {
    margin: 0 0 0 10rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

header nav ul li {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #fff;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#mouselimit{
    display: flex;
    height: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#mouse {
    animation: mousemove 3s infinite;
}

.titles {
    margin: 1rem 0;
    max-width: 80%;
    font-size: 6rem;
    font-weight: 500;
    line-height: 1.2;
}

#summary {
    min-height: 600px;
    margin: 0 auto;
    width: 100%;
    background: url('/vector/Vector3.svg') repeat-x;
    background-size: auto 100%;
    padding: 15px;
    animation: colorBackground 20s linear infinite;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

#summary h1 {
    max-width: none;
    font-weight: 400;
    font-size: 200%;
    text-align: center;
    padding: 6rem;
    margin-bottom: 10px;
    margin-top: 1rem;
    color: var(--color-light);
}

#summary h3 {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    color: var(--color-light);
}

.section-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.card-section {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin: 0.5em;
    padding: 1em;
    box-shadow: 1px 1px 20px rgba(0, 44, 54, 0.6);
    transition: transform .7s;
    border-radius: 7px;
}


h2 {
    margin: 0.2em 0;
}

#solution{
    height: 100dvh;
    width: 80%;
}

.section-title {
    display: flex;
    height: 20dvb;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: var(--color-blue);
}

.content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1dvh;
}

.content > .text-content {
    height: 50dvh;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1%;
    gap: 1rem;
    justify-content: center;
}


.link {
    display: flex;
    margin: 1dvh;
    width: 35%;
    padding: 8px 60px; 
    border: none;
    border-radius: 18px; 
    text-decoration: none; 
    justify-content: center;
    background-color: #007c97; 
    color: var(--color-light); 
}

.link:hover {
    scale: 1.1;
    background-color: var(--color-bluedark); 
    border: none;
}

#API {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 1rem;
}

#API>.img-content {
    flex: 1;
    max-width: 100%;
    text-align: center;
}

#API>.img-content img {
    max-width: 100%;
    border-radius: 5px;

}

#API> h3 {
    background-image: url("/img/christoffer-engstrom-wc9avd2RaN0-unsplash.jpg");
    color: var(--color-dark);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5em;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin: 20px 0;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    width: 90dvh;
    height: 50dvh;
    border-radius: 5px;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    border-radius: 5px;
}

.bcar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    z-index: 1;
}

#prev {
    left: 12%;
}

#next {
    right: 12%;
}

/* Objetivo */

#objetivos_hero{
    display: flex;
    height: 20dvb;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: var(--color-blue);
    color: var(--color-light);}
#objectives{
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../img/christoffer-engstrom-wc9avd2RaN0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start ;
    text-align: center;
    color: var(--color-light);
}

#objetivo-content{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#bolhas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 1rem;
    margin: 2em 0;
}

#bolhas> #b1 {
position: absolute;
width: 411px;
height: 411px;
left: 833px;
top: 4557px;
background: #C4C4C4;
}

#bolhas>#b2 {
    box-sizing: border-box;
    position: absolute;
    width: 268px;
    height: 268px;
    left: 1038px;
    top: 4810px;
    background: #C4C4C4;
    border: 15px solid #FAFAFA;
    box-sizing: border-box;
}

#bolhas>#b3 {
box-sizing: border-box;
position: absolute;
width: 205px;
height: 205px;
left: 890px;
top: 4927px;
background: #C4C4C4;
border: 15px solid #FAFAFA;
#prev {
    left: 12%;
}

#next {
    right: 12%;
}

#objectives {
    background-color: #333;
}
#bolhas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: 1rem;
    margin: 2em 0;
}

#bolhas> #b1 {
position: absolute;
width: 411px;
height: 411px;
left: 833px;
top: 4557px;
background: #C4C4C4;
}

#bolhas>#b2 {
    box-sizing: border-box;
    position: absolute;
    width: 268px;
    height: 268px;
    left: 1038px;
    top: 4810px;
    background: #C4C4C4;
    border: 15px solid #FAFAFA;
    box-sizing: border-box;
}

#bolhas>#b3 {
box-sizing: border-box;
position: absolute;
width: 205px;
height: 205px;
left: 890px;
top: 4927px;
background: #C4C4C4;
border: 15px solid #FAFAFA;
}

.circle-container {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.circle {

    width: 100px;
    height: 100px;
    background-color: #e2e2e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
} 



